<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Turtle Power!</title>
      {% load staticfiles %}
</head>
<body>

    {% if request %}
        {% if ninjas == 'cow' %}
            <p>Heroes in a half-shell!</p>
            <img src="{% static 'disappearingninja/images/teenage-mutant-ninja-turtles.jpg' %}" height="200" width="200">
        {% elif color == 'blue' %}
            <p>Leonardo leads!</p>
            <img src="{% static 'disappearingninja/images/leonardo.jpg' %}" height="200" width="200">
        {% elif color == 'orange' %}
            <p>Michelangelo is a party dude!</p>
            <img src="{% static 'disappearingninja/images/michelangelo.jpg' %}" height="200" width="200">
        {% elif color == 'red' %}
            <p>Raphael is cool, but rude!</p>
            <img src="{% static 'disappearingninja/images/raphael.jpg' %}" height="200" width="200">
        {% elif color == 'purple' %}
            <p>Donatello does machines!</p>
            <img src="{% static 'disappearingninja/images/donatello.jpg' %}" height="200" width="200">
        {% else %}
            <p>April O'Neil, Channel 6 News!</p>
            <img src="{% static 'disappearingninja/images/april.jpg' %}" height="350" width="500">
        {% endif %}
    {% endif %}
</body>
</html>
